@page
@model AISStore.Pages.EmployeeTypes.DeleteModel

@{
    ViewData["Title"] = "Должности";
}

<h1>Удалить</h1>

<h3>Вы уверены?</h3>
<div>
    <h4>Должность</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeType.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EmployeeType.EmployeeTypeId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
