@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Clients/Index">Client</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Employees/Index">Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/EmployeeTypes/Index">EmployeeType</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Items/Index">Item</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/ItemTypes/Index">ItemType</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Orders/Index">Order</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/OrderItems/Index">OrderItems</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Prices/Index">Price</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Providers/Index">Provider</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Stocks/Index">Stock</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Supplies/Index">Supply</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/SupplyItems/Index">SupplyItem</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/SupplySupplyItems/Index">SupplySupplyItem</a>
        </li>
        @* <li class="nav-item"> *@
        @*     <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a> *@
        @* </li> *@
        @* <li class="nav-item"> *@
        @*     <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout">Logout</a> *@
        @* </li> *@
        @* <li class="nav-item"> *@
        @*     <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a> *@
        @* </li> *@
    </ul>
</div>